:host {
    display: block;
    padding: 20px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.posicion {
    position: relative;
    top: 10px;
    left: 30px;
}

.card-header {
    border-bottom: 1px solid #af38ff;
    background-color: #51307b; 
    color: white; 
    padding: 15px; 
}

.card-body {
    padding: 20px; 
}

.table {
    width: 100%;
    border-collapse: collapse; 
}

.table th, .table td {
    border: 1px solid #dee2e6; 
    padding: 12px; 
    text-align: center; 
}

.table thead {
    background-color: #af38ff; 
    color: white; 
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff; 
}

.table img {
    max-width: 100px; 
    height: auto;
}

.btn-primary {
    background-color: #af38ff;
    border: none;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #5c0e76;
    border-color: #5c0e76; 
}
