<div class="container mt-5">
    <div class="posicion">
      <div class="card shadow-sm border-light">
        <div class="card-header bg-success text-white">
          <h3 class="mb-0">Registros Guardados de Usuario</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Correo Electrónico</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Juan Pérez</td>
                <td>juan.perez@gmail.com</td>
                <td>Administrador</td>
              </tr>
              <tr>
                <td>María Gómez</td>
                <td>maria.gomez@cun.edu.co</td>
                <td>Usuario</td>
              </tr>
              <tr>
                <td>Pedro López</td>
                <td>pedro.lopez@hotmail.com</td>
                <td>Moderador</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>