<div class="container">
    <div class="posicion">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Registros Guardados de Producto</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Imagen del Producto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>COCA-COLA</td>
                <td>Agua carbonatada, color caramelo IV, café en polvo, acidulante (ácido fosfórico), saborizantes (saborizantes naturales, cafeína), edulcorantes (sucralosa, acesulfame k) , conservantes (benzoato de sodio, sorbato de potasio), antiespumante (polidimetilsiloxano).</td>
                <td>$14600</td>
                <td>Electrónica</td>
                <td><img src="ruta-a-imagen1.jpg" alt="Imagen del Producto 1" width="100"></td>
              </tr>
              <tr>
                <td>Margarita de Limon</td>
                <td>Papas fritas con sabor a limon</td>
                <td>$2500</td>
                <td>Electrónica</td>
                <td><img src="ruta-a-imagen2.jpg" alt="Imagen del Producto 2" width="100"></td>
              </tr>
              <tr>
                <td>Barbie Astronauta</td>
                <td>¿Qué quieres ser cuando seas grande? Con Barbie y sus más de 200 modelos, los más chicos podrán jugar y conocer distintas profesiones. Maestra, gimnasta, doctora, bombera, astronauta y muchas opciones más.</td>
                <td>$224900</td>
                <td>Juguetes</td>
                <td><img src="ruta-a-imagen3.jpg" alt="Imagen del Producto 3" width="100"></td>
              </tr>
           </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>